<div fxLayout="row wrap">
  <div fxFlex="100%">
    <mat-toolbar color="accent">
      <span class="epson-u-text-align-center epson-u-width-100">
        Canvas - {{title | titlecase}} Editing
      </span>
    </mat-toolbar>
  </div>
  <div fxFlex="100%">
    <!-- <epson-canvas-image-edit-form (shareCanvas)="canvas = $event"></epson-canvas-image-edit-form> -->
    <mat-grid-list cols="3" rowHeight="500px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#e0e0e0'">
        <canvas id="canvas" width="360" height="512" #canvas [style.background]="'white'"></canvas>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxFlex="100%">
    <mat-toolbar color="primary">
      <span class="epson-u-text-align-center epson-u-width-100">Test Print</span>
    </mat-toolbar>
  </div>
  <div fxFlex="100%" style="padding-top: 12px;">
    <epson-canvas-setting-form [webApiUrl]="webApiUrl" (executePrint)="printCanvas($event)"></epson-canvas-setting-form>
  </div>
</div>
