<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  class="menu-list-item">
  <mat-icon *ngIf="item?.iconName" class="routeIcon">{{item.iconName}}</mat-icon>
  {{item.displayName}}
  <span fxFlex></span>
  <mat-icon *ngIf="item?.children?.length" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
    expand_more
  </mat-icon>
</a>
<div *ngIf="expanded">
  <epson-menu-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </epson-menu-list>
</div>
