<div id="preview">
  <div id="preview-paper">
    <div id="preview-width" class="epson-u-text-align-center">
      <span>512</span><br />
      <img src="./assets/editor/v.png" alt="" />
      <img src="./assets/editor/h.png" width="510" height="10" alt="" />
      <img src="./assets/editor/v.png" alt="" /><br />
    </div>
  </div>
  <div class="preview-break"></div>
  <div #container></div>
  <canvas id="preview-text" width="576" height="192"></canvas>
  <canvas id="preview-page" width="576" height="2400"></canvas>
  <canvas id="preview-area" width="576" height="2400"></canvas>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="preview-info">
    Actual print result from the printer may differ from the preview image.
  </div>
</div>

<ng-template #clone let-context="context">
  <canvas class="preview-line" id="preview-line" [width]="context.width" [height]="context.height"></canvas>
</ng-template>
