/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.epson-u-text-align-center {
  text-align: center;
}

.epson-u-width-100 {
  width: 100%;
}

a > div.mat-list-item-content {
  width: 100%;
}

.epson-editor-view .mat-tab-body-content {
  display: flex;
  // margin: 16px;
  padding: 12px;
  border-radius: 8px;
  height: calc(100vh - 150px);
  // width: 90%;
  border: 1px solid #e0e0e0;
}

.epson-editor .mat-grid-tile .mat-figure {
  align-items: flex-start;
  // justify-content: start;
}
